{{!-- TODO: add collection handlebars once html draft is complete --}}
<body>
    <header class="catalog-header">
        <h1 class="catalog-title">LEGO Catalog</h1>
    </header>
    <main class="catalog-main">
        <div class="catalog-filter">
            <label class="catalog-filter-label" for="theme-select">Select a Theme:</label>
            <select id="theme-select" class="theme-select"></select>
        </div>
        <div class="results">
            <!-- Display LEGO sets based on the selected theme here -->
            <!-- Repeat this structure for each LEGO set -->
        </div>
    </main>
<script src="/js/fetch.js"></script>