{{!-- TODO: add handlebars to load the content from the database --}}
<main>
      <header class="profile-header">
        <h1>Builder Profile</h1>
      </header>
      <section class="profile">

        <div class="profile-image">
          <img src="images/Lego_Heart.png" alt="Profile Picture" />
          <input type="file" id="avatar-upload" accept="image/*" />
          <label for="avatar-upload">Upload Avatar</label>
        </div>
        <div class="profile-info">
          <p>{{info.username}}</p>
          <p>{{info.email}}</p>
          <label class="username">Username:</label>
          <input type="text" id="username" placeholder="Your Username" />

          <label class="email">Email:</label>
          <input type="text" id="email" />

          <label class="Favorite-sets">Favorite LEGO Themes:</label>
          <div class="profile-favorites">
            <label>
              {{!-- TODO: replace placeholders with option for user to select favorite LEGO Theme from dropdown--}}
              <input type="checkbox"/> Star
              Wars
            </label>
            <label>
              <input type="checkbox"/> Pirates III
            </label>

            <!-- Add more sets as needed -->
          </div>

          <button class="submit-button">Save Profile</button>
        </div>
      </section>
    </main>