<main>
      <header class="profile-header">
        <h1>Builder Profile</h1>
      </header>
      <section class="profile">
        <div class="profile-image">
          <img src="default-avatar.png" alt="Profile Picture" />
          <input type="file" id="avatar-upload" accept="image/*" />
          <label for="avatar-upload">Upload Avatar</label>
        </div>
        <div class="profile-info">
          <label class="username">Username:</label>
          <input type="text" id="username" placeholder="Your Username" />

          <label class="email">Email:</label>
          <input type="text" id="email" />

          <label class="Favorite-sets">Favorite sets:</label>
          <div class="profile-favorites">
            <label>
              <input type="checkbox"/> Star
              Wars
            </label>
            <label>
              <input type="checkbox"/> Set 2
            </label>
            <label>
              <input type="checkbox"/> Set 3
            </label>
            <!-- Add more sets as needed -->
          </div>

          <button class="submit-button">Save Profile</button>
        </div>
      </section>
    </main>