/* Login Page CSS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@200;400;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  display: flex;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  Padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

.container .cover::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 100;
}

.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 12;
}

.container .form {
  height: 100%;
  width: 100%;
  background: #fff;
}

.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
  /* background: red; */
}

form .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 900;
  color: #9904fc;
  }

form .form-content .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #9904fc;
}

form .signup-form .title:before {
  width: 20px;
}

form .form-content .input-boxes {
  margin-top: 30px;
}

form .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

form .form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

.form-content .input-box input:focus 
.form-content .input-box input:valid {
  border-color: #9904fc;
}

.form-content .input-box i {
  position: absolute;
  color: #9904fc;
  font-size: 17px;
}

form .form-content .text {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

form .form-content .text a {
  text-decoration: none;
}

form .form-content .text a:hover {
  text-decoration: underline;
}

form .form-content .button {
  color: #fff;
  margin-top: 40px;
}

form .form-content .button input {
  color: #fff;
  background: #9904fc;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

form .form-content .button input:hover {
  background: #9904fc;
}

form .form-content label {
  color: #9904fc;
  cursor: pointer;
}

form .form-content label:hover {
  text-decoration: underline;
}
form .form-content .login-text,
form .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}
.container #flip {
  display: none;
}

/* Navbar CSS */

.nav-item {
  font-weight: 900;
}

.nav-item .nav-link {
  color: #FC0404;
}
.wishlist-navbar-brand {
  font-weight: 900;
  color:#FC0404;
}

/* Homepage CSS */

body {
  background-image: url('../images/home\ back\ ground.jpg');
  background-position: center;
}

#block {
  position: fixed;
  display: flex;
  width: 500px;
  height: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 285px;
  /* background-color: #ffffff;
  color: #fff; */
  text-align: center;
  line-height: 100px;
  margin: 10px;
  /* border: 2px solid #e9e9e9;
  border-radius: 10px; */
}


.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 285px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  border: 2px solid #e9e9e9;
  border-radius: 10px;
}

.box1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 285px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  border: 2px solid #e9e9e9;
  border-radius: 10px;
}

.box2 {
  position: absolute;
  top: 40%;
  left: 420px;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 285px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  border: 2px solid #e9e9e9;
  border-radius: 10px;
}

.box3 {
  position: absolute;
  top: 40%;
  right: 54%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 285px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  border: 2px solid #e9e9e9;
  border-radius: 10px;
}


.box h1 {
  text-decoration: solid;
  font-weight: bold;
  display: flex;
  margin-top: 63px;
  justify-content: center;
  color: red;
  text-decoration: underline;
}

footer{
  color:rgb(255, 0, 0);
  background-color: white;

}

/* CSS for the wishlist below */
.wishlist-header .wishlist-title {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 24px;
  color: #000;
}
.wishlist-header .wishlist-heart {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.wishlist-table {
  width: 100%;
}
.wishlist-table-hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
}
.wishlist-table-hdr p {
  font-weight: 900;
  font-size: 18px;
  color: #000;
}
button {
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.wishlist-add_new {
  padding: 10px 20px;
  color: #fff;
  background-color: #FC0404;
}
.wishlist-add_new:hover {
  padding: 10px 20px;
  color: #fff;
  background-color: #740000;
}
input {
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  border: 1px solid #FC0404;
  border-radius: 6px;
}
.wishlist-table_section{
  height: 650px;
  overflow: auto;
}
table {
  width: 100%;
  table-layout:fixed;
}
td img {
  height: 125px;
  width: 125px;
}
.page-item .page-link {
  color:#FC0404;
  font-weight: 400;
}
.page-item .page-link:hover {
  font-weight: 400;
  background-color:#FC0404;
  color: #fff
}
::placeholder{
  color: #000;
}

/* CSS for the Profile */

.profile-header {
  background-color: #FC0404;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.profile-header h1 {
  font-weight: 900;
  margin: 0;
}

.profile {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-image {
  display: flex;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

input[type="file"] {
  display: none;
}

label[for="avatar-upload"] {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FC0404;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-info {
  flex-grow: 1;
  margin-left: 20px;
}

.checkbox {
  font-weight: 400;
}

.profile-favorites {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  font-weight: 900;
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
.submit-button {
  background-color: #FC0404;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  background-color: #b90606;
}

/* CSS for the Collection */

.collection-header .collection-title {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 24px;
  color: #000;
}
.collection-header .collection-brick {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
.collection-table {
  width: 100%;
}
.collection-table-hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
}
.collection-table-hdr p {
  font-weight: 900;
  font-size: 18px;
  color: #000;
}
button {
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.collection-add_new {
  padding: 10px 20px;
  color: #fff;
  background-color: #FC0404;
}
.collection-add_new:hover {
  padding: 10px 20px;
  color: #fff;
  background-color: #740000;
}
input {
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  border: 1px solid #FC0404;
  border-radius: 6px;
}
.collection-table_section{
  height: 650px;
  overflow: auto;
}
table {
  width: 100%;
  table-layout:fixed;
}
td img {
  height: 125px;
  width: 125px;
}
.page-item .page-link {
  color:#FC0404;
  font-weight: 400;
}
.page-item .page-link:hover {
  font-weight: 400;
  background-color:#FC0404;
  color: #fff
}
::placeholder{
  color: #000;
}

footer {
  color: rgb(255, 0, 0);
  background-color: white;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
}

footer {
  position: fixed;
  margin-top: 2%;
  height: 50 width 100%;
  text-align: center;
  font-size: 0.8em;
  bottom: 0;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline;
  margin: 0 15px;
}